<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7, IE=9, IE=10">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <title>Rainbow Somewhere</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/dojo/dijit/themes/claro/claro.css" %>
    <%= stylesheet_link_tag    "http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/js/esri/css/esri.css" %>
    <style>
    </style>

    <%= javascript_include_tag "http://serverapi.arcgisonline.com/jsapi/arcgis/3.4/" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="claro">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Rainbow Somewhere</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Find</a></li>
              <li><a href="#about">About</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="search"></div>
    <div id="map"></div>
    
    <div class="forecasts" style="">

      <div class="forecast">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div class="media">
                <div class="pull-left">
                  <img class="media-object rainbow" src="/assets/rainbow1.png">
                </div>
                <div class="media-body">
                  <h1 class="media-heading">08:02 PM</h1>
                </div>
              </div>
            </div>
            <div class="back">
              <h3>OMG RAINBOWS!!!</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="forecast">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div class="media">
                <div class="pull-left">
                  <img class="media-object sunset" src="/assets/sunset.png">
                </div>
                <div class="media-body">
                  <h1 class="media-heading">08:02 PM</h1>
                </div>
              </div>
            </div>
            <div class="back">
              <h3>SAN FRANCISCO</h3>
            </div>
          </div>
        </div>
      </div>

    </div>


    <footer>
      <p>&copy; RainbowSomewhere 2013</p>
    </footer>

  </body>
</html>
